[submodule "soccer_analytics_projectweek"]
	path = soccer_analytics_projectweek
	url = https://github.com/zypreaxa/soccer_analytics_projectweek
[submodule "socceraction"]
	path = socceraction
	url = https://github.com/zypreaxa/socceraction
